<!DOCTYPE html>
<html>
<head>
    <title>Taste Buds - order food online</title>
    <!--bootstrap css and js-->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
    <!--Importing font-->
    <link href="https://fonts.googleapis.com/css2?family=Leckerli+One&display=swap" rel="stylesheet">
    <!--responsive screen adjustment-->
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <link rel="shortcut-icon" type="x-image/icon" href="favicon.ico">
    <link rel="icon" type="x-image/icon" href="favicon.ico">
</head>
<style>
    body{
        background-color: #e33745;
    }
    h1{
        text-align: center;
        color: #fff;
        font-size: 24;
        margin-top: 20px;
    }
</style>
<body>
    <h1>Taking necessary security actions to help you protect your account.Please wait until you are redirected to the signup page.</h1>
</body>
</html>