<!DOCTYPE html>
<html>
<head>
	<title>Logged out</title>
    <!--responsive view-->
	<meta name="viewport" content="width=device-width,initial-scale=1.0">
</head>
<style type="text/css">
	body{
		padding: 0;
		margin: 0;
		background-color: #e33745;
	}
	.banner{
		position: relative;
		width: 100%;
		height: auto;
		align-items: center;
		justify-content: center;
        margin: 0 auto;
        text-align: center;
	}
    h1{
        align-items: center;
        font-size: 50px;
    }
    h2{
        color: #fffde4;
    }
	h3{
        text-align: center;
		font-size: 25px;
		color: #fff;
	}
	a{
		text-decoration: underline;
		color: #fff;
	}
	a:hover{
		text-decoration: underline;
		color: #fff;
	}
</style>
<body>
	<div class="banner">
		<h1>😥</h1>
        <h2>Logout successfull</h2>
		<h3>Sorry to see you go! Don't forget to come back and give a treat to your Tastebuds.</h3>
		<br>
		<br>
		<a href="/login">Log Back In</a>
		&nbsp
		&nbsp
		<a href="/faq">To know more about us visit the FAQ section</a>
	</div>
</body>
</html>